.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

.button-gen {
    padding: 1rem !important;
    font-size: 20px !important;
    border-radius: 20px !important;
}

.border-raduis-20 {
    border-radius: 20px !important;
    padding: .6rem !important;
}

.container .border-bottom-ch {
    border-bottom: 1px solid #cec2c2;
    padding-bottom: 2rem;
}

.col-10-div {
    flex: 0 0 auto;
    width: 96.333333%;

}

.col-2-div {
    flex: 0 0 auto;
    width: 4.33333333%;
}