.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.button-gen {
    padding: 1rem !important;
    font-size: 20px !important;
    border-radius: 20px !important;
}

.border-raduis-20 {
    border-radius: 20px !important;
    padding: .6rem !important;
}

.container .border-bottom-ch {
    border-bottom: 1px solid #cec2c2;
    padding-bottom: 2rem ;
  }